<head>
<script src="{{site.url}}/attn_vis/external/d3.min.js"></script>
<script src="{{site.url}}/attn_vis/external/jquery-3.1.0.min.js"></script>
<script src="{{site.url}}/attn_vis/external/underscore-min.js"></script>
<script src="{{site.url}}/attn_vis/external/sprintf.min.js"></script>
<link href='//fonts.googleapis.com/css?family=Courier' rel='stylesheet' type='text/css'>

<style>
#attnvis {
  border: 3px solid lightgrey;
  padding: 25px;
  font-family: 'Courier';
  position:relative;
  margin: 10px;
  font-size: 12px;
}
</style>
<script>

json_fname = "/attn_vis/attn_wts_saili.json" // file containing the text and the weights

bluehue = 217
yellowhue = 56.4
redhue = 5
greenhue = 151

function round(x, dp) {
  // round a float to dp decimal places
  var power_of_10 = Math.pow(10,dp)
  return parseFloat(Math.round(x*power_of_10)/power_of_10).toFixed(dp)
}

function toColor(p, hue) {
  // converts a scalar value p in [0,1] to a HSL color code string with base color hue
  if (p<0 || p>1) {
    throw sprintf("Error: p has value %.2f but should be in [0,1]", p)
  }
  var saturation = 100 // saturation percentage
  p = 1-p // invert so p=0 is light and p=1 is dark
  var min_lightness = 50 // minimum percentage lightness, i.e. darkest possible color
  var lightness = (min_lightness + p*(100-min_lightness)) // lightness is proportional to p
  return sprintf('hsl(%d,%s%%,%s%%)', hue, saturation, lightness)
}

function render_srctxt(div, attn_wts) {
  // Render the article in given div. If attn_wts is not null, it is a vector of weights same length as number of article words (or less if truncated); we highlight the article accordingly.
  var article_lst = gdata.article_lst
  var startix = 0;
  var endix = article_lst.length

  div.html(''); // flush
  for(var i=startix; i<endix; i++) {
    var word = article_lst[i]; // a string
    var css = 'display:inline;'
    if (attn_wts != null) {
      var attn_wt = attn_wts[i];
      var background_color = toColor(attn_wt, yellowhue);
      css += 'background-color:' + background_color + ";";
    }
    if (word.slice(0,2)=="__" && word.slice(-2)=="__"){
      word = word.slice(2,-2);
      css += 'font-style: italic;'
    }
    var word_html = word + ' '

    // write the word
    var dnew = div.append('div');
    dnew.attr('class', 'd')
      .attr('style', css) // apply this style
      .html(word_html)
  }
}


function render_summary(div, summary_lst, attn_wts, gen_probs) {
  // Render the summary in the given div.
  // summary_lst is list of words
  // attn_wts and gen_probs are optional
  var startix = 0;
  var endix = summary_lst.length;

  div.html(''); // flush
  for(var i=startix; i<endix; i++) {
    var word = summary_lst[i]; // a string
    var css = 'display:inline;'
    if (gen_probs==null) {
      var gen_prob = null
    } else {
      var gen_prob = gen_probs[i];
      var background_color = toColor(gen_prob, greenhue);
      css += ('background-color:' + background_color + ";");
    }
    if (word.slice(0,2)=="__" && word.slice(-2)=="__") {
      word = word.slice(2,-2);
      css += 'font-style: italic;'
    }
    if (word=="dutch" || word=="irish" || word=="respective" || word=="prospects" || word=="[UNK]") {
      css += 'color: red;'
    }
    if (word==".") {
      word += "<br>"
    }

    var dnew = div.append('div');
    dnew.html(word+' ') // this is the content
      .attr('class', 'd')
      .attr('style', css) // apply this style

    if (attn_wts!=null) {
      // add interactivity for mouseover decoder words
      dnew.on('mouseover', getHandleMouseOver(attn_wts[i], gen_prob))
        .on('mousemove', handleMouseMove)
        .on('mouseout', handleMouseOut)
    }
  }
}

function getHandleMouseOver(attn_wts, gen_prob) {
  // When you mouseover a decoder word, shows attention distribution on article and optionally, gen_prob tooltip
  if (gen_prob==null) {
    return function() {
      render_srctxt(d3.select('#source_text'), attn_wts);
    }
  } else {
    return function() {
      render_srctxt(d3.select('#source_text'), attn_wts);
      gtooltip.text("p_gen = " + round(gen_prob, 3))
      return gtooltip.style("visibility", "visible");
    }
  }
}

function handleMouseMove() {
  // When you move cursor over a decoder word, tooltip follows cursor
  return gtooltip.style("top", (d3.event.pageY-30)+"px").style("left",(d3.event.pageX+10)+"px");
}

function handleMouseOut() {
  // When you move cursor away from a decoder word, stop showing generation probability tooltip and attention distribution
  render_srctxt(d3.select("#source_text"), null);
  return gtooltip.style("visibility", "hidden");
}

function get_json_and_disp() {
  // Retrieve the json data file and display the data
  console.log("fetching " + json_fname + "...")

  function json_success(data) {
    // Displays the data
    console.log("successfully loaded json file.")
    gdata = data; // store globally
    render_srctxt(d3.select("#source_text"), null);
    render_summary(d3.select("#ref"), data.abstract_lst, null, null);
    render_summary(d3.select("#baseline"), data.decoded_lst_baseline, data.attn_wts_baseline, null);
    render_summary(d3.select("#pgen_nocov"), data.decoded_lst_pgen_nocov, data.attn_wts_pgen_nocov, data.gen_probs_pgen_nocov);
    render_summary(d3.select("#pgen_cov"), data.decoded_lst_pgen_cov, data.attn_wts_pgen_cov, data.gen_probs_pgen_cov);
  }

  function json_fail(d) {
    console.log("failure to load." + json_fname)
  }

  $.getJSON(json_fname, json_success).fail(json_fail);
}

function start() {
  console.log("starting...")
  get_json_and_disp()

  // Define a tooltip that we will use to display generation probability of a decoder word when you hover over it
  var tooltip = d3.select("body")
      .append("div")
      .style("position", "absolute")
      .style("z-index", "10")
      .style("visibility", "hidden")
      .style("background", "white")
      .style("font-size", "12px")
      .style("font-family", "Courier")
      .style("border", "2px solid lightgrey")
      .text("a simple tooltip");
  gtooltip = tooltip // global
}

</script>
</head>

<body onload="start();">
  <div id="attnvis">
    <h3>Source Text</h3>
    <div id="source_text">
      source text goes here
    </div>
    <h3>Reference summary</h3>
    <div id="ref">
      reference summary goes here
    </div>
    <h3>Sequence-to-sequence + attention summary</h3>
    <div id="baseline">
      baseline model summary goes here
    </div>
    <h3>Pointer-generator summary</h3>
    <div id="pgen_nocov">
      pointer-generator model summary goes here
    </div>
    <h3>Pointer-generator model + coverage summary</h3>
    <div id="pgen_cov">
      pointer-generator + coverage model summary goes here
    </div>
  </div>
</body>
